/* COLORS */
.u-upper {
  text-transform: uppercase;
}

.u-image-full-size {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.u-mb-large {
  margin-bottom: 7.5rem !important;
}

.u-mb-medium {
  margin-bottom: 5.5rem !important;
}

.u-mb-small {
  margin-bottom: 3.5rem !important;
}

.u-mt-large {
  margin-top: 7.5rem !important;
}

.u-mt-medium {
  margin-top: 5.5rem !important;
}

.u-mt-small {
  margin-top: 3.5rem !important;
}

.u-iblock {
  display: inline-block;
}

.u-margin-tb-xl {
  margin-top: 20rem !important;
  margin-bottom: 20rem !important;
}

.u-margin-tb-medium {
  margin-top: 10rem !important;
  margin-bottom: 10rem !important;
}

.u-margin-tb-small {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

/*
  DARK THEME / LIGHT THEME styling
  $scheme = dark | light
*/
/* MEDIA QUERY MANAGER
   *
   * 0 - 600px => phone
   * 600px - 900px => tablet portrait
   * 900px - 1200px => tablet landscape
   * 1200px+ => desktop
   */
/*
   * CHOICES:
   * phone, tab-port, tab-lan, desk
   */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: 'Alata', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.3;
  color: #111;
  box-sizing: border-box;
}

::selection {
  background-color: #000;
  color: #fff;
  display: inline-block;
}

.section-hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/desktop/image-hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.section-hero-text {
  margin-left: 8%;
  color: #fff;
  position: absolute;
  line-height: 1;
  top: 35%;
  left: 0%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 5rem;
  font-weight: 100;
  text-transform: uppercase;
  border: 2px solid #fff;
  padding: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .section-hero-text {
    font-size: 4rem;
    font-weight: 400;
    padding: 2rem;
    width: 80%;
  }
}

.navigation {
  margin-left: 8%;
  margin-right: 7%;
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

@media only screen and (max-width: 37.5em) {
  .navigation__icon {
    position: relative;
  }
  .navigation__icon, .navigation__icon:before, .navigation__icon:after {
    width: 3rem;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    right: 5rem;
    top: 4.6rem;
  }
  .navigation__icon:before, .navigation__icon:after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
  }
  .navigation__icon::before {
    top: -1rem;
  }
  .navigation__icon::after {
    top: 1rem;
  }
}

.nav-left {
  font-size: 2.3rem;
  font-weight: 800;
}

.nav-right {
  font-size: 1.5rem;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .nav-right {
    display: none;
  }
}

.ul-nav {
  display: flex;
  align-content: center;
  margin-top: .5rem;
}

.nav-link {
  list-style: none;
  margin-left: 2rem;
}

.popup-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  padding: 3rem;
  transition: all .3s;
}

@media only screen and (max-width: 37.5em) {
  .popup-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.popup-nav:target {
  opacity: 1;
  visibility: visible;
}

.ul-nav-1 {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  list-style: none;
}

.nav-link-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.popup-close:link, .popup-close:visited {
  color: #fff;
  position: absolute;
  top: 1.1rem;
  right: 5rem;
  font-size: 5rem;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
}

.section-about {
  margin-left: 8%;
  margin-right: 7%;
  margin-top: 5%;
  margin-bottom: 6%;
  position: relative;
}

.section-about-img {
  width: 65%;
}

@media only screen and (max-width: 37.5em) {
  .section-about-img {
    width: 100%;
  }
}

.section-about-img-interactive {
  width: 100%;
  display: inline-block;
  object-fit: cover;
  object-position: right;
}

.section-about-text {
  background-color: #fff;
  padding-left: 6rem;
  padding-top: 5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
}

@media only screen and (max-width: 37.5em) {
  .section-about-text {
    position: static;
    bottom: 0;
    left: 50%;
    padding: 1rem;
    padding-top: 3rem;
    text-align: center;
  }
}

.section-about-text-head {
  font-family: 'Alata', sans-serif;
  line-height: 1;
  margin-bottom: 1rem;
}

.section-about-text-body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
}

.section-creations {
  margin-left: 8%;
  margin-right: 7%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 37.5em) {
  .section-creations {
    justify-content: center;
  }
}

.section-creations-text {
  font-family: 'Alata', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.section-creations-button {
  font-size: 1.5rem;
  border: 1px solid #000;
  padding: 1rem 3rem;
}

@media only screen and (max-width: 37.5em) {
  .section-creations-button {
    display: none;
  }
}

.section-creations-button:hover {
  background-color: #000;
  color: #fff;
}

.section-images {
  margin-left: 8%;
  margin-right: 7%;
  margin-top: 5%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section-images-div {
  flex-basis: 25%;
  padding: 1rem;
}

.section-images-8 {
  width: 100%;
}

.section-footer {
  background-color: #000;
  margin-top: 5%;
}

.section-footer-content {
  margin-left: 8%;
  margin-right: 7%;
  display: flex;
  color: #fff;
  justify-content: space-between;
  padding: 2rem 0;
}

@media only screen and (max-width: 37.5em) {
  .section-footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.section-footer-text-left {
  font-size: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .section-footer-text-left {
    text-align: center;
    font-size: 2rem;
  }
}

.section-footer-text-left-2 {
  display: flex;
  list-style: none;
  margin-top: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .section-footer-text-left-2 {
    display: flex;
    flex-direction: column;
  }
}

.section-footer-text-left-2-item {
  margin-right: 1.5rem;
}

@media only screen and (max-width: 37.5em) {
  .section-footer-text-left-2-item {
    margin: 1rem;
  }
}

.section-footer-text-right {
  font-family: 'Josefin Sans', sans-serif;
  text-align: right;
  font-size: .6rem;
}

@media only screen and (max-width: 37.5em) {
  .section-footer-text-right {
    text-align: center;
    margin: 1.8rem;
  }
}

.footer-copyright {
  margin-top: 1rem;
}

.footer-icons {
  font-size: 1.2rem;
}

@media only screen and (max-width: 37.5em) {
  .footer-icons {
    font-size: 2rem;
  }
}

.fab {
  margin-left: 1rem;
}

.fas {
  margin-left: 1rem;
}
