.section-hero{
  height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url("../images/desktop/image-hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  
  &-text{
    margin-left: $margin-left-body;
    
    color: $color-white;
    position: absolute;
    line-height: 1;
    top:35%;
    left: 0%;
    font-family:'Josefin Sans', sans-serif ;
    font-size: 5rem;
    font-weight:100;
    text-transform: uppercase;
    border: 2px solid $color-white;
    padding: 3rem;

    @include respond(phone){
      font-size: 4rem;
      font-weight: 400;
      padding: 2rem;
      width: 80%;
    }
  }
}